<h1>Add a Definition to $word.getTerm()</h1>

<div class="input-form">
  <form action="/definitions" method="post">
    <input id="wordId" name="wordId" type="hidden" value="$word.getId()">
    <label for="annotation">Defintion:</label>
    <input id="annotation" name="annotation" type="text" class="form-control">
    
    <button type="sumbit" class="btn btn-primary">Add Definiton</button>
  </form>
</div>
